// browser does not read scss 
$primary-color : #444; // money sign for creating a variable
$secondary-color : #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

// difference between function and mixin is that function returns something 
// function
@mixin easeOut{
  transition : all 0.5s ease-out ;  // transition takes two parameter first one is what you wanna transition and second is the time for which you want to make the transition show and next one is the motion
}
 
@mixin background{
  @if $show-home-image{
    &#bg-img {
      background : $home-image;
      background-attachment : fixed;
      background-size : cover;
      
      &:after { // pseudo element of html
        content: '';
        position : absolute;
        top : 0;
        right : 0;
        width : 100%;
        height : 100%;
        z-index : -1; // negative so that bg overlay pushes backward
        background : rgba($primary-color, $background-opacity);
      }
    } 
  }
} 

// Set text colour
@function set-text-color($color) {
  @if (lightness($color) > 40){
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins (for responsiveness of website)

@mixin mediaSm {
  @media screen and (max-width : 500px){ // whatever css we write here will be applicable only to 500px screen or less
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width : 768px){ 
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width : 769px)and (max-width : 1170px){ 
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width : 1171px){ 
    @content;
  }
}